
@{
    ViewBag.Title = "Index";
}

<h2>This is Admin Panel</h2>
<div class="col-md-4">
    <h2>All Appointments</h2>
    <p>
        Check All Appointment
    </p>
    <p><a class="btn btn-default" href=@Url.Action("AllAppointment","admin")>Click</a></p>
</div>
<div class="col-md-4">
    <h2>Check All User</h2>
    <p>See user info</p>
    <p><a class="btn btn-default" href=@Url.Action("AllUser","admin")>Click</a></p>
</div>
<div class="col-md-4">
    
</div>
